<div class="col-12 col-lg-4">
	<div class="blog-sidebar-area">

		<!-- Latest Posts Widget -->
		<%- include('recommended-post.ejs') %>

		<!-- Popular News Widget -->
		<%- include('top-news-list.ejs') %>

		<!-- Newsletter Widget -->
		<%- include('newsletter.ejs') %>

		<!-- Latest Comments Widget -->
		<%- include('comments.ejs') %>
		
	</div>
</div>